{% extends "index.html" %}
{% load static %}  
{% block content %}
<form class="form-horizontal" method="POST" action="">
    {% csrf_token %}
    {{ rankformset.management_form }}
    {% for form in rankformset %}
    <h2>Submit Score</h2>
    <div class="row form-row spacer">
        <div class="col-4">
            <div class="input-group">
                {{form.as_p}}
                <div class="input-group-append">
                    <button class="btn btn-success add-form-row">+</button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="row spacer">
        <div class="col-4 offset-2">
            <button type="submit" class="btn btn-block btn-primary">Next</button>
        </div>
    </div>
</form>
{% endblock %}
